ul.NavigationMenu-nav-bar {
	list-style-type: none;
	margin: 0;
	padding: 8px 0px 15px 18px;
	display: flex;
	flex-direction: row;
	font-family: "Roboto";
	border-bottom: 3px solid #f96302;
}

ul.NavigationMenu-nav-bar li {
	font-size: 14px;
	color: #333;
	margin-right: 40px;
}

a {
	text-decoration: none;
	color: #333;
	display: flex;
}
